#world-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
path:hover {
  stroke: #002868 !important;
  stroke-width:0.25px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
.clicked {
  fill: #ff9800;
  stroke: #ff9800;
  stroke-width: 0.25px;
  stroke-linejoin: round;;
}
#info-box {
  display: none;
  position: absolute;
  bottom:0;
  right:0;
  z-index: 1;
  background-color: #ffffff;
  padding: 5px;
  font-family: arial;
}
